extends ../layouts/layout

block content
  h1.mb-4 Your Blog Posts

  a.btn.btn-primary.mb-3(href='/posts/new') + Create New Post

  if posts.length
    table.table.table-striped
      thead
        tr
          th Title
          th Tags
          th Created
          th Actions
      tbody
        each post in posts
          tr
            td= post.title
            td= post.tags.join(', ')
            td= post.createdAt.toDateString()
            td
              a.btn.btn-sm.btn-info.me-2(href=`/posts/${post._id}`) View
              a.btn.btn-sm.btn-warning.me-2(href=`/posts/${post._id}/edit`) Edit
              a.btn.btn-sm.btn-danger(href=`/posts/${post._id}/delete`) Delete
  else
    p.text-muted You haven’t created any posts yet.
